.wrapper{
  display:grid;
  margin:105px 103px 300px ;
  grid-template-columns: repeat(auto-fit,minmax(274px,1fr));
  gap:45px;

}
.ProductWrapper{
  max-width: 274px;
  &:hover{
    cursor: pointer;
    opacity: 0.6;
  }
  div{
    margin:40px 0 13px 0;
    text-align:center;
    font-size: 14px;
    color:black;
    max-width: 274px;
  }
  b{
    display:flex;
    width:50px;
    margin: 0 auto;
    color:black;
    
  }
  img{
    width: 274px;
height: 274px;
    
  }
  
}